@use '../../stylesheets/variables.scss' as *;
@use '../../stylesheets/mixins' as *;

.formWrapper {
  width: 736px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.label {
  @include flex(row, center, center);
  max-width: 736px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: -27px;
  left: auto;
}

.textarea {
  @include indents(16px, 0);
  @include font('Inter', $l-font-size, $regular, $gray-100);
  max-width: 638px;
  width: 100%;
  background: $gray-500;
  border-radius: 8px;
  outline: 0;
  border: 0;
  resize: none;
  overflow: hidden;
}

.button.button {
  @include size(120px, 52px);
  padding: 16px;
  border-radius: 12px;
  background: $blue;
}

.icon {
  @include size(16px, 16px);
  color: $gray-100;
}

.title {
  color: $gray-100;
}
