@use '../../stylesheets/variables.scss' as *;
@use '../../stylesheets/mixins' as *;

.empty__wrapper {
  @include flex(column, center, center, 16px);
  width: 736px;
  padding: 64px 24px;
  border-top: 1px solid $gray-400;
  border-radius: 8px;
  box-sizing: border-box
}

.icon {
  @include size(56px, 56px);
}

.title__wrapper {
  @include flex(column, center, center, 4px);
}

.title {
  font-weight: $bold;
}
