@use '../../stylesheets/variables.scss' as *;
@use '../../stylesheets/mixins' as *;

.tasks {
  @include flex(column, center, center, 25px);
  max-height: 80vh;
}

.wrapperTasks {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 62vh;
  border-radius: 8px;
  outline: none;
  overflow-y: scroll;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
