@use '../../stylesheets/variables.scss' as *;
@use '../../stylesheets/mixins' as *;

.tasks {
  @include flex(column, center, center, 10px);
  max-height: 81vh;
}

.wrapperTasks {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 62vh;
  border-radius: 8px;
  outline: none;
}

.overflow {
  overflow-y: auto;
}

ul {
  @include flex(column, $gap: 8px);
  padding: 0;
  margin: 0;
  list-style: none;
}
